.myProfileDiv{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: lightgrey ;
}

.userProfile{
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    margin-bottom: 30px;
}

input{
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid rgba(43, 83, 70, 0.678)   ;
}
input:hover{
    background-color: lightgrey;
}
button{
    font-size: 25px;
    border: none;
    padding: 10px;
    /* color:red ; */
    color: rgba(43, 83, 70, 0.678);
    background-color: white;
}
button:hover{
    background-color: lightgray;
}

.submitBtn{
    /* border: black; */
    font-size: 15px;
    border-radius: 15px;
    width: 150px;
    color: white;
    /* outline: none;? */
    background-color: rgba(43, 83, 70, 0.678) ;
    display: none;
}

label{
    font-size: 20px;
    color: white;
    min-width: 150px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgba(43, 83, 70, 0.678) ;
    border-radius: 15px;
}