
/* .merchantBoxDiv{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* overflow-y: hidden; */ 

/* } */
body{
    /* background-color: rgba(76, 133, 114, 0.678); */
    background-color: whitesmoke;

}


.right{
    display: flex;
    justify-content: center;
    /* background-color: white; */
}
/* .fieldsetAddProduct{
    padding: 20px;
    /* max-width: 550px; */
    /* border-style: groove ; */
    /* margin-left: 40px; */
    /* background-color: red; */


/* } * */
.showAddedProductsDiv{
    padding: 10px;
    background-color: white;
}
.showAddedProducts{
    margin-top: 60px; 
padding: 20px;
padding-top: 0px ;
margin-right: 60px;
background-color: white;
border: none;
margin-bottom: 50px;
}

.APD1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center ;
    max-width: 450px;
}
.APD2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(81, 128, 123, 0.911) ;
    border-top: groove;
    border-bottom: groove;
    padding-top: 35px;
    padding-bottom: 30px;

} 
.addedProductsImages{
    margin-top: 100px;
    /* padding-top: 90px; */
    width: 170px;
    height: 200px;
    margin-right: 20px;

}
.allAddedProductsDetailsDiv {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.addedProductsimageDiv{
    padding-top: 00px;
}
